@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

main.container {
  padding: 15px 10px 0;
}

.no-border-radius-button {
  button {
    border-radius: 0 !important;
  }
}
