@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

main.container {
  padding: 15px 10px 0;
}

.no-border-radius-button {
  button {
    border-radius: 0 !important;
  }
}

.p-datatable-header {
  border-top: 0 !important;
}

p-table > div {
  border-color: #3f4b5b;
  border-width: 0 1px 0 1px;
  border-style: solid;
}
