<p-autoComplete
  [ngModel]="selected"
  [group]="true"
  [suggestions]="filteredCodes"
  (onSelect)="onSelectCode($event)"
  (completeMethod)="filterCodes($event)"
  field="label"
  [dropdown]="true"
  appendTo="body"
  [style]="{ width: '100%' }"
  [inputStyle]="{ 'border-radius': '0', border: 'none', background: 'transparent' }"
  styleClass="no-border-radius-button"
>
  <ng-template let-group pTemplate="group">
    <div class="flex align-items-center">
      <span>{{ group.label }}</span>
    </div>
  </ng-template>
</p-autoComplete>
