:host {
  height: 80px;
  display: flex;
  padding: 0 30px;

  .left {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: auto;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
  }

  p-calendar {
    margin-right: 10px;
  }

  html:not([data-scroll="0"]) & {
    background-color: var(--surface-overlay);
    transition: background-color 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.8);
  }
}
