<p-toolbar
  styleClass="mb-4 gap-2"
  [style]="{
    'border-bottom-left-radius': '0',
    'border-bottom-right-radius': '0',
    'border-bottom': '0'
  }"
>
  <ng-template pTemplate="left">
    <p-splitButton
      label="New"
      [model]="options"
      (onClick)="new()"
      styleClass="mr-2 mb-2"
      [style]="{ 'margin-right': '10px' }"
      appendTo="body"
    ></p-splitButton>

    <p-selectButton
      [options]="selectButtonOptions"
      [(ngModel)]="selectButtonValue"
      optionLabel="label"
      optionValue="value"
      [style]="{ 'margin-right': '10px'}"
    ></p-selectButton>

    <p-splitButton label="{{lastTemplate.name}}" icon="pi pi-plus" (onClick)="loadTemplate(lastTemplate.id)" [model]="templateOptions"></p-splitButton>
  </ng-template>

  <ng-template pTemplate="right">
    <p-button
      icon="pi pi-arrow-circle-left"
      styleClass="p-button-secondary"
      label="Previous week"
      (onClick)="previousWeek()"
      [style]="{ 'margin-right': '10px' }"
    ></p-button>
    <p-button
      icon="pi pi-arrow-circle-right"
      iconPos="right"
      label="Next week"
      (onClick)="nextWeek()"
    ></p-button>
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="accounts"
  [globalFilterFields]="['name']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowHover]="true"
  dataKey="id"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="min-width: 15rem">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>
        Monday
        <div>{{ week?.monday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th>
        Tuesday
        <div>{{ week?.tuesday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th>
        Wednesday
        <div>{{ week?.wednesday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th>
        Thursday
        <div>{{ week?.thursday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th>
        Friday
        <div>{{ week?.friday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th [hidden]="selectButtonValue === 2">
        Saturday
        <div>{{ week?.saturday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th [hidden]="selectButtonValue === 2">
        Sunday
        <div>{{ week?.sunday | date : "dd/MM/yyyy" }}</div>
      </th>
      <th></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-account>
    <tr>
      <td>
        <app-code-selector [code]="account.codeId" (codeChange)="onCodeChange(account, $event)"></app-code-selector>
      </td>
      <td>
        <app-hour-selector
          [record]="account.getTime(week?.monday)"
        ></app-hour-selector>
      </td>
      <td>
        <app-hour-selector
          [record]="account.getTime(week?.tuesday)"
        ></app-hour-selector>
      </td>
      <td>
        <app-hour-selector
          [record]="account.getTime(week?.wednesday)"
        ></app-hour-selector>
      </td>
      <td>
        <app-hour-selector
          [record]="account.getTime(week?.thursday)"
        ></app-hour-selector>
      </td>
      <td>
        <app-hour-selector
          [record]="account.getTime(week?.friday)"
        ></app-hour-selector>
      </td>
      <td [hidden]="selectButtonValue === 2">
        <app-hour-selector
          [record]="account.getTime(week?.saturday)"
        ></app-hour-selector>
      </td>
      <td [hidden]="selectButtonValue === 2">
        <app-hour-selector
          [record]="account.getTime(week?.sunday)"
        ></app-hour-selector>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-rounded p-button-danger p-button-text"
          (click)="remove(account)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-toolbar
  styleClass="mb-4 gap-2"
  [style]="{
    'border-top-left-radius': '0',
    'border-top-right-radius': '0',
    'border-top': '0'
  }"
>
  <ng-template pTemplate="left">
    <p-splitButton
      label="New"
      [model]="options"
      (onClick)="new()"
      styleClass="mr-2 mb-2"
      appendTo="body"
    ></p-splitButton>
  </ng-template>
</p-toolbar>
