:host {
  th:not(:first-child), td:not(:first-child) {
    text-align: center;
  }

  .p-datatable-header {
    border-top: 0 !important;
  }

  tr {
    background: transparent;

    &:first-child {
      td {
        border-top: 0 !important;
      }
    }

    &:last-child {
      th {
        border-width: 1px 1px 1px 0 !important;

        div {
          font-size: 12px;
        }
      }
    }
  }

  td {
    padding: 0 !important;
    border-width: 0 1px 1px 0 !important;
    border-color: var(--surface-d) !important;
    border-style: solid !important;
  }

  .p-toolbar {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
